<a href="https://colab.research.google.com/github/Hanse-code/social-coding-portfolio/blob/main/Copy_of_activity_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 2: Python Primer on Lists, For Loops, and Functions

For this activity, we will be familiarizing ourselves with lists, for loops, and creating our own simple functions.

Please make sure you open this file in Jupyter Notebook or Google Colab. You will have to either open Jupyter Notebook first or upload the file to Google Colab before being able to edit the file.

Please make sure you **print your output.** You may need to use ```print``` for your output to be displayed.

-----
## Submission Instructions
1. Upload the completed activity to the "Activities" folder of your GitHub Portfolio;
2. Ensure your submission consists of two files: <br/>(a) one single-page reflection in markdown (e.g. `a2_reflection.md`);  <br/>(b) one Jupyter notebook with completed responses to each activity step (e.g. `a2_primer.ipynb`).

1. Run the code in the cell below and explain why the error occured. Then, fix the error so that the code will run successfully.

In [1]:
names = ["Mary Gallagher, John Sanin(?), Anthony Clark, Margaret Farrell"]

print(names)

['Mary Gallagher, John Sanin(?), Anthony Clark, Margaret Farrell']

there wasn't a qutation mark inside the parathensis ""

-----

## Lists and for loops

Use the lists below to solve the following exercise questions. Make sure you run this cell before you begin with the activity or you will run into errors.

In [2]:
professions = ['married', 'laborer', 'widow', 'widow', 'laborer' ]
gender = ['woman', 'man', 'woman', 'woman', 'man']
longlist_professions = ['married', 'married', 'laborer', 'laborer', 'widow', 'married', 'spinster',
                     'laborer', 'spinster', 'laborer', 'spinster', 'spinster', 'married', 'laborer',
                     'laborer', 'spinster', 'laborer', 'laborer', 'laborer', 'laborer', 'laborer', 'spinster',
                     'laborer', 'spinster', 'widow', 'spinster', 'painter', 'laborer', 'weaver', 'laborer']

2. Extract the second item in the list ```professions```.
    
   **Hint**: Python begins indexing from '0.' The first item, 'married,' is position [0].

In [4]:
professions[1]

'laborer'

3. Make a **for loop** that considers each item in the ```professions``` list and prints “Person’s profession is ___.”

In [5]:
for professions in professions:
    print(f"Person's profession is {professions}.")

Person's profession is married.
Person's profession is laborer.
Person's profession is widow.
Person's profession is widow.
Person's profession is laborer.

4. Using a **list method**, add an item to the list ```gender``` called “not known”

In [6]:
gender.append("not known")
gender

['woman', 'man', 'woman', 'woman', 'man', 'not known']

5. Make a **for loop** that considers each item in the ```gender``` list and prints “Person identifies as a man” if the person is registered as a man, “Person identifies as a woman” if the person registered as a woman, and “Person’s gender is not known” if person's gender is unknown.

In [7]:
gender = ['woman', 'man', 'woman', 'woman', 'man']
for gender in gender:
    if gender == "man":
        print("Person identifies as a man")
    elif gender == "woman":
        print("Person identifies as a woman")
    else:
        print("Person's gender is not known")

Person identifies as a woman
Person identifies as a man
Person identifies as a woman
Person identifies as a woman
Person identifies as a man

6. Build a **new list** called ```spinster_list``` that includes only the items in the list ```longlist_professions``` that matches ```spinster```.

   **Hint**: You will need to create an empty list variable before sorting the list with a for loop.

In [8]:
spinster_list = []
for profession in longlist_professions:
    if profession == "spinster":
        spinster_list.append(profession)
spinster_list

['spinster',
 'spinster',
 'spinster',
 'spinster',
 'spinster',
 'spinster',
 'spinster',
 'spinster']

7. Find the most and least common professions in the list ```longlist_professions```.   
   Run the cell below to import the ```Counter``` module and use the appropriate method.

   **Hint**: You will need to create a variable for the results of the Counter function before running the method.   
   **Hint 2**: Check your spelling. Python is case-sensitive, and the function for Counter begins with a capital C.

In [9]:
from collections import Counter

In [10]:
longlist_professions_count = Counter(longlist_professions)
longlist_professions_count.most_common()

[('laborer', 14),
 ('spinster', 8),
 ('married', 4),
 ('widow', 2),
 ('painter', 1),
 ('weaver', 1)]

8. Run the code below and explain why the error occurred. Then, fix the error so that the code can run as intended.
   
    **Hint**: There are 2 errors in the code below

In [19]:
for job in professions:
    if job == "laborer":
        print(job)
    else:
        print(f"Wow, women were limited to their marital status, such as {job}.")

Wow, women were limited to their marital status, such as l.
Wow, women were limited to their marital status, such as a.
Wow, women were limited to their marital status, such as b.
Wow, women were limited to their marital status, such as o.
Wow, women were limited to their marital status, such as r.
Wow, women were limited to their marital status, such as e.
Wow, women were limited to their marital status, such as r.

the else wasn't indented right and if job == "laborer" the laborer part didn't have a : at the end of it
---

-----

## Defining functions

9. Make a function called ```hello``` that greets the user with "Hello {person}! Have a good day ahead." Test your function to make sure it runs as intended.   

    **Hint**: You will need one parameter in the function.

In [39]:
def hello(person):
    hello= f"Hello {person}! Have a good day ahead."
    return hello

print(hello("Hanse"))

Hello Hanse! Have a good day ahead.

10. Make a function called ```sum_of_3``` that allows the user to add 3 numbers. Test your function to make sure it runs as intended.   
    *Level-up challenge*: Use a default argument to prevent code failing if the user has less than 3 input.

In [45]:
def sum_of_3(num1=0, num2=0, num3=0):
    sum = num1 + num2 + num3
    return sum

print(sum_of_3(20, 16, 54))

90

11. Make a function called ```fahrenheit_to_celsius``` that converts the temperature in fahrenheit to celsius. Call your function to test that it runs as intended.

    **Hint**: The formula for converting the temperature is (Temperature in Fahrenheit - 32) * 5/9.

In [49]:
def fanrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

print(fanrenheit_to_celsius(100))

37.77777777777778

-----

## Side quest challenge

The side quest challenge is for extra credit. You can still get full credit for this activity even if you do not complete this challenge.

1. Use **list comprehension** to build a new list for the most common profession in ```longlist_professions```.

In [50]:
most_common = [profession for profession in longlist_professions if profession == "laborer"]
most_common

['laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer',
 'laborer']

2. Make a function called ```budget_expenses``` that calculates the estimated budget for a trip to NYC. You will need the following parameters:
- ```plane_ticket_price```
- ```hotel_rate_per_day```
- ```duration_of_trip```
- ```subway_per_trip = 2.90```

   After making your function, call the function with the following values: ```plane_ticket_price```: 450, ```hotel_rate_per_day```: 120, ```duration_of_trip```: 5.

  **Hint**: Remember to calculate the total price of your hotel stay and round-trip subway cost for the entire duration of the trip

In [59]:
def budget_expenses(plane_ticket_price, hotel_rate_per_day, duration_of_trip, subway_per_trip = 2.90):
    hotel_total = hotel_rate_per_day * duration_of_trip
    subway_total = subway_per_trip * duration_of_trip * 2
    total = plane_ticket_price + hotel_total + subway_total
    return total

estimated_budget = budget_expenses(450, 120, 5)
print("Estimated budget for the trip to NYC:", estimated_budget)

Estimated budget for the trip to NYC: 1079.0

-----

Some of the exercise questions are adapted from Melanie Walsh's *Introduction to Cultural Analytics & Python*.