<a href="https://colab.research.google.com/github/Hanse-code/social-coding-portfolio/blob/main/Hanse_activity_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 3: Practicing with Pandas

For this activity, we will assume the role of a data scientist in the search for and evaluation of public datasets. In turn, pay close attention to the dataset you choose for counter narratives or nonapparent political values, gaps or underrepresented perspectives.

Please make sure you open this file in Jupyter Notebook or Google Colab -- you will have to either open Jupyter Notebook first or upload the file to Google Colab before being able to edit the file.

Please make sure you **print your output.** You may need to use ```print``` for your output to be displayed.

-----
## Submission Instructions
1. Upload the completed activity to the "Activities" folder of your GitHub Portfolio;
2. Ensure your submission consists of two files: <br/>(a) one single-page reflection in markdown (e.g. `a3_reflection.md`);  <br/>(b) one Jupyter notebook with completed responses to each activity step (e.g. `a3_pandas.ipynb`).

## Data biography: Trans-Atlantic Slave Trade dataset

To complete the assignment, please make sure you download the dataset from where it hosted on our GitHub: [Trans-Atlantic-Slave-Trade_Americas.csv](https://github.com/zmuhls/ccny-data-science/blob/main/assets/datasets/Trans-Atlantic-Slave-Trade_Americas.csv)

## Data Biography (1-2 Paragraphs)

Before you begin your exploration, you will provide a short data biography (1 - 2 paragraphs) on the dataset that addresses **where the data came from, who collected it, and the original intention(s) for its collection.**

You may find the following sources useful for your research:
* [Slave Voyages' Trans-Atlantic Slave Trade methodology](https://www.slavevoyages.org/voyage/about#methodology/introduction/0/en/)
    * You may find the sections: Introduction, Coverage of the Slave Trade, and Nature of Sources particularly useful.
* [Slave Voyages' About](https://www.slavevoyages.org/about/about#)
* [Jamelle Bouie's We Still Can’t See American Slavery for What It Was](https://csc10800.github.io/assets/pdf/Bouie_we_still_cant_see_american_slavery_for_what_it_is.pdf)

**Enclose Data Biography below (1-2 Paragraph)**:
</br>
</br>
</br>

-----

## Download and explore dataset

As we have been practicing in class, the questions that follow will require you to consider what output you will need before running the appropriate python codes.

To ensure your code runs, please remember to load ```pandas``` and the ```Trans-Atlantic-Slave-Trade_Americas.csv``` file into the jupyter notebook environment.

If you are running this on Google Colab, please make sure you connect your google drive with your Colab notebook first before attempting the exercise:
```
from google.colab import drive
drive.mount('/content/drive')
```

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 2. How many rows of data does the dataset contain?</br>
In this first step, you’ll load the dataset and examine its structure. Loading data is foundational in data science and digital humanities workflows. You’ll use the `pandas` library to read a CSV file and display its first few rows.</br>
* **Hint**: See Melanie Walsh's chapter on Pandas Basics if you're stuck: [Pandas Basics – Part 1](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html)).

In [3]:
import pandas as pd

In [4]:
pd.options.display.max_rows = 100

In [5]:
slave_voyages_df = pd.read_csv('/content/Trans-Atlantic-Slave-Trade_Americas (1).csv', delimiter=",")

In [6]:
slave_voyages_df

,year_of_arrival,flag,place_of_purchase,place_of_landing,percent_women,percent_children,percent_men,total_embarked,total_disembarked,resistance_label,vessel_name,captain's_name,voyage_id,sources
0,1520,NaN,Portuguese Guinea,San Juan,NaN,NaN,NaN,324.0,259.0,NaN,,NaN,42987,"[u'AGI,Patronato 175, r.9<><p><em>AG!</em> (Se..."
1,1525,Portugal / Brazil,Sao Tome,"Hispaniola, unspecified",NaN,NaN,NaN,359.0,287.0,NaN,S Maria de Bogoña,"Monteiro, Pero",46473,"[u'ANTT,CC,Parte II, maco 131, doc 54<><i>Inst..."
2,1526,Spain / Uruguay,Cape Verde Islands,"Cuba, port unspecified",NaN,NaN,NaN,359.0,287.0,NaN,,"Carega, Esteban (?)",11297,"[u'Pike,60-1,172<>Pike, Ruth, <i>Enterprise</i..."
3,1526,Spain / Uruguay,Cape Verde Islands,"Cuba, port unspecified",NaN,NaN,NaN,359.0,287.0,NaN,,"Carega, Esteban (?)",11298,"[u'Pike,60-1,172<>Pike, Ruth, <i>Enterprise</i..."
4,1526,NaN,Cape Verde Islands,Caribbean (colony unspecified),NaN,NaN,NaN,359.0,287.0,NaN,S Anton,"Leon, Juan de",42631,"[u'Chaunus, 3: 162-63<><p>Chaunus, <em>xxxxxx<..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20774,1864,Spain / Uruguay,"Africa., port unspecified","Cuba, port unspecified",NaN,NaN,NaN,488.0,465.0,NaN,Polaca,NaN,46554,"[u'AHNM, Ultramar, Leg. 3551, 6<><i>Archivo Hi..."
20775,1865,Spain / Uruguay,"Africa., port unspecified",Isla de Pinas,NaN,NaN,NaN,152.0,145.0,Slave insurrection,Gato,NaN,4394,"[u'IUP,ST,50/B/137<>Great Britain, <i>Irish Un..."
20776,1865,NaN,"Africa., port unspecified",Mariel,NaN,NaN,NaN,780.0,650.0,NaN,,NaN,4395,"[u'IUP,ST,50/B/144<>Great Britain, <i>Irish Un..."
20777,1865,NaN,Congo River,"Cuba, port unspecified",NaN,NaN,NaN,1265.0,1004.0,NaN,Cicerón,Mesquita,5052,"[u'IUP,ST,50/A/23-4<>Great Britain, <i>Irish U..."
20778,1866,NaN,"Africa., port unspecified","Cuba, port unspecified",NaN,NaN,NaN,851.0,700.0,NaN,,NaN,4998,"[u'IUP,ST,50/B/220<>Great Britain, <i>Irish Un..."

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

---

### 3. Are the data types for each column appropriate? Please explain how they are/not approrpiate for your analysis.

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

---

### 4. What is the overall average proportion of ```percent_women```, ```percent_children```, ```percent_men```?

In [7]:
slave_voyages_df['percent_women'].isna().value_counts(normalize=True)

percent_women
True     0.859955
False    0.140045
Name: proportion, dtype: float64

In [8]:
slave_voyages_df.count() / len(slave_voyages_df)

year_of_arrival      1.000000
flag                 0.943886
place_of_purchase    0.996246
place_of_landing     1.000000
percent_women        0.140045
percent_children     0.141874
percent_men          0.140045
total_embarked       0.999086
total_disembarked    0.998941
resistance_label     0.018095
vessel_name          1.000000
captain's_name       0.935271
voyage_id            1.000000
sources              1.000000
dtype: float64

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>


---

### 5. How many of the column values for ```percent_women```, ```percent_children```, ```percent_men``` are left blank? Suggest 1 reason why majority of the values in these columns are blank.

In [20]:
missing_counts = slave_voyages_df[['percent_women', 'percent_children', 'percent_men']].isnull().sum()
print("Missing Values in Each Column:")
print(missing_counts)
print("\nReason:")
print("The majority of these values are likely blank because demographic details such as percentages of women, children, and men were not consistently recorded or preserved in historical records of the Trans-Atlantic Slave Trade.")

Missing Values in Each Column:
percent_women       17869
percent_children    17831
percent_men         17869
dtype: int64

Reason:
The majority of these values are likely blank because demographic details such as percentages of women, children, and men were not consistently recorded or preserved in historical records of the Trans-Atlantic Slave Trade.

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

---

### 6. Display all duplicated rows and remove the duplicates. Check that the duplicates were successfully removed. Please also suggest a reason why we would remove duplicates for our analysis.

**Level-up**: How many duplicated rows do we have? Recall the methods we have used to help us count things.

In [19]:
duplicated_rows = slave_voyages_df[slave_voyages_df.duplicated()]
print("\nDuplicated Rows:")
print(duplicated_rows)
num_duplicated_rows = len(duplicated_rows)
print(f"\nNumber of duplicated rows: {num_duplicated_rows}")
data_csv_no_duplicates = slave_voyages_df.drop_duplicates()
print("\nNumber of rows after removing duplicates:", len(data_csv_no_duplicates))
assert len(data_csv_no_duplicates) + num_duplicated_rows == len(slave_voyages_df), "Mismatch in row counts after duplicate removal!"
print("\nReason for removing duplicates:")
print("Removing duplicates ensures that repeated data does not skew analysis results, leading to more accurate and reliable insights.")

Duplicated Rows:
       year_of_arrival              flag  \
213               1577               NaN
214               1577               NaN
215               1577               NaN
283               1586               NaN
285               1586               NaN
286               1586               NaN
769               1602               NaN
770               1602               NaN
1665              1654     Great Britain
1666              1654     Great Britain
1667              1654     Great Britain
9842              1763       Netherlands
9843              1763       Netherlands
9844              1763       Netherlands
9845              1763       Netherlands
10356             1765            France
10357             1765            France
10358             1765            France
10880             1767            France
10881             1767            France
10882             1767            France
14574             1788     Great Britain
14575             1788     Great Britain
14576             1788     Great Britain
14577             1788     Great Britain
14578             1788     Great Britain
14643             1789            U.S.A.
14644             1789            U.S.A.
14645             1789            U.S.A.
16222             1797            U.S.A.
16223             1797            U.S.A.
16224             1797            U.S.A.
16225             1797            U.S.A.
16226             1797            U.S.A.
16227             1797            U.S.A.
16490             1798  Denmark / Baltic
16491             1798  Denmark / Baltic
16492             1798  Denmark / Baltic

                                       place_of_purchase  \
213                                   Cape Verde Islands
214                                   Cape Verde Islands
215                                   Cape Verde Islands
283    Senegambia and offshore Atlantic, port unspeci...
285    Senegambia and offshore Atlantic, port unspeci...
286    Senegambia and offshore Atlantic, port unspeci...
769    West Central Africa and St. Helena, port unspe...
770    West Central Africa and St. Helena, port unspe...
1665                                               Ardra
1666                                               Ardra
1667                                               Ardra
9842                                          Cape Lahou
9843                                          Cape Lahou
9844                                          Cape Lahou
9845                                          Cape Lahou
10356                                        Badagry/Apa
10357                                        Badagry/Apa
10358                                        Badagry/Apa
10880                                            Calabar
10881                                            Calabar
10882                                            Calabar
14574                                        New Calabar
14575                                        New Calabar
14576                                        New Calabar
14577                                        New Calabar
14578                                        New Calabar
14643                          Africa., port unspecified
14644                          Africa., port unspecified
14645                          Africa., port unspecified
16222                                        Iles de Los
16223                                        Iles de Los
16224                                        Iles de Los
16225                                        Iles de Los
16226                                        Iles de Los
16227                                        Iles de Los
16490                          Africa., port unspecified
16491                          Africa., port unspecified
16492                          Africa., port unspecified

                           place_of_landing  percent_women  percent_children  \
213    Spanish Circum-Caribbean,unspecified            NaN               NaN
214    Spanish Circum-Caribbean,unspecified            NaN               NaN
215    Spanish Circum-Caribbean,unspecified            NaN               NaN
283                               New Spain            NaN               NaN
285                               New Spain            NaN               NaN
286                               New Spain            NaN               NaN
769                            Buenos Aires            NaN               NaN
770                            Buenos Aires            NaN               NaN
1665             Barbados, port unspecified            NaN               NaN
1666             Barbados, port unspecified            NaN               NaN
1667             Barbados, port unspecified            NaN               NaN
9842                               Suriname        0.48077           0.05385
9843                               Suriname        0.48077           0.05385
9844                               Suriname        0.48077           0.05385
9845                               Suriname        0.48077           0.05385
10356          Martinique, port unspecified        0.43220           0.18644
10357          Martinique, port unspecified        0.43220           0.18644
10358          Martinique, port unspecified        0.43220           0.18644
10880                           Cayes (Les)        0.26957           0.55652
10881                           Cayes (Les)        0.26957           0.55652
10882                           Cayes (Les)        0.26957           0.55652
14574                              Kingston            NaN           0.38581
14575                              Kingston            NaN           0.38581
14576                              Kingston            NaN           0.38581
14577                              Kingston            NaN           0.38581
14578                              Kingston            NaN           0.38581
14643      West Indies (colony unspecified)            NaN               NaN
14644      West Indies (colony unspecified)            NaN               NaN
14645      West Indies (colony unspecified)            NaN               NaN
16222                                Havana        0.01136           0.05682
16223                                Havana        0.01136           0.05682
16224                                Havana        0.01136           0.05682
16225                                Havana        0.01136           0.05682
16226                                Havana        0.01136           0.05682
16227                                Havana        0.01136           0.05682
16490                              Suriname            NaN               NaN
16491                              Suriname            NaN               NaN
16492                              Suriname            NaN               NaN

       percent_men  total_embarked  total_disembarked    resistance_label  \
213            NaN           347.0              278.0                 NaN
214            NaN           347.0              278.0                 NaN
215            NaN           347.0              278.0                 NaN
283            NaN           498.0              398.0                 NaN
285            NaN           498.0              398.0                 NaN
286            NaN           498.0              398.0                 NaN
769            NaN            49.0               39.0                 NaN
770            NaN            49.0               39.0                 NaN
1665           NaN           150.0              129.0                 NaN
1666           NaN           150.0              129.0                 NaN
1667           NaN           150.0              129.0                 NaN
9842       0.46538           263.0              260.0  Slave insurrection
9843       0.46538           263.0              260.0  Slave insurrection
9844       0.46538           263.0              260.0  Slave insurrection
9845       0.46538           263.0              260.0  Slave insurrection
10356      0.38136           196.0              118.0                 NaN
10357      0.38136           196.0              118.0                 NaN
10358      0.38136           196.0              118.0                 NaN
10880      0.17391           207.0              133.0                 NaN
10881      0.17391           207.0              133.0                 NaN
10882      0.17391           207.0              133.0                 NaN
14574          NaN           531.0              466.0                 NaN
14575          NaN           531.0              466.0                 NaN
14576          NaN           531.0              466.0                 NaN
14577          NaN           531.0              466.0                 NaN
14578          NaN           531.0              466.0                 NaN
14643          NaN           147.0              130.0                 NaN
14644          NaN           147.0              130.0                 NaN
14645          NaN           147.0              130.0                 NaN
16222      0.93182           103.0               92.0                 NaN
16223      0.93182           103.0               92.0                 NaN
16224      0.93182           103.0               92.0                 NaN
16225      0.93182           103.0               92.0                 NaN
16226      0.93182           103.0               92.0                 NaN
16227      0.93182           103.0               92.0                 NaN
16490          NaN           310.0              266.0                 NaN
16491          NaN           310.0              266.0                 NaN
16492          NaN           310.0              266.0                 NaN

               vessel_name                                     captain's_name  \
213              S Antonio                                      Alvarez, Juan
214              S Antonio                                      Alvarez, Juan
215              S Antonio                                      Alvarez, Juan
283                                                           Ruiz, Francisco
285                                                           Ruiz, Francisco
286                                                           Ruiz, Francisco
769            S Francisco                                  Jacome, Francisco
770            S Francisco                                  Jacome, Francisco
1665                  Star                                               Dean
1666                  Star                                               Dean
1667                  Star                                               Dean
9842   Vrouw Johanna Cores  Tuijneman, Jan<br/> Molder, Willem de<br/> Bre...
9843   Vrouw Johanna Cores  Tuijneman, Jan<br/> Molder, Willem de<br/> Bre...
9844   Vrouw Johanna Cores  Tuijneman, Jan<br/> Molder, Willem de<br/> Bre...
9845   Vrouw Johanna Cores  Tuijneman, Jan<br/> Molder, Willem de<br/> Bre...
10356        Reine de Juda                      Cormier de Bellevent, Laurent
10357        Reine de Juda                      Cormier de Bellevent, Laurent
10358        Reine de Juda                      Cormier de Bellevent, Laurent
10880            Algonquin                      Richard de Villemin, Athanase
10881            Algonquin                      Richard de Villemin, Athanase
10882            Algonquin                      Richard de Villemin, Athanase
14574        African Queen                                       Taylor, Cobb
14575        African Queen                                       Taylor, Cobb
14576        African Queen                                       Taylor, Cobb
14577        African Queen                                       Taylor, Cobb
14578        African Queen                                       Taylor, Cobb
14643           Washington                                        Gardner, Wm
14644           Washington                                        Gardner, Wm
14645           Washington                                        Gardner, Wm
16222               Louisa                                     Briggs, Elijah
16223               Louisa                                     Briggs, Elijah
16224               Louisa                                     Briggs, Elijah
16225               Louisa                                     Briggs, Elijah
16226               Louisa                                     Briggs, Elijah
16227               Louisa                                     Briggs, Elijah
16490                Eliza                                               King
16491                Eliza                                               King
16492                Eliza                                               King

       voyage_id                                            sources
213        42638  [u'P\xe9rez Garc\xeda and Chaves, p. 620<><p>P...
214        42638  [u'P\xe9rez Garc\xeda and Chaves, p. 620<><p>P...
215        42638  [u'P\xe9rez Garc\xeda and Chaves, p. 620<><p>P...
283        42674  [u'Chaunus, 3: 380-91<><p>Chaunus, <em>xxxxxx<...
285        42674  [u'Chaunus, 3: 380-91<><p>Chaunus, <em>xxxxxx<...
286        42674  [u'Chaunus, 3: 380-91<><p>Chaunus, <em>xxxxxx<...
769        42929  [u'AGI,Charcas.123,s/n, Certificazion de escla...
770        42929  [u'AGI,Charcas.123,s/n, Certificazion de escla...
1665       26435  [u'Binder:ARA, 1.05.01.01, 47<><p>Binder, Fran...
1666       26435  [u'Binder:ARA, 1.05.01.01, 47<><p>Binder, Fran...
1667       26435  [u'Binder:ARA, 1.05.01.01, 47<><p>Binder, Fran...
9842       11117  [u'Postma,166,304-401<>Postma, Johannes Menne,...
9843       11117  [u'Postma,166,304-401<>Postma, Johannes Menne,...
9844       11117  [u'Postma,166,304-401<>Postma, Johannes Menne,...
9845       11117  [u'Postma,166,304-401<>Postma, Johannes Menne,...
10356      33218  [u'mettas,II<>Mettas, Jean,  <i>R\xe9pertoire ...
10357      33218  [u'mettas,II<>Mettas, Jean,  <i>R\xe9pertoire ...
10358      33218  [u'mettas,II<>Mettas, Jean,  <i>R\xe9pertoire ...
10880      30848  [u'mettas,I<>Mettas, Jean,  <i>R\xe9pertoire d...
10881      30848  [u'mettas,I<>Mettas, Jean,  <i>R\xe9pertoire d...
10882      30848  [u'mettas,I<>Mettas, Jean,  <i>R\xe9pertoire d...
14574      80108  [u'ADM7/106, 33<><p><em>British National Archi...
14575      80108  [u'ADM7/106, 33<><p><em>British National Archi...
14576      80108  [u'ADM7/106, 33<><p><em>British National Archi...
14577      80108  [u'ADM7/106, 33<><p><em>British National Archi...
14578      80108  [u'ADM7/106, 33<><p><em>British National Archi...
14643      36559  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
14644      36559  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
14645      36559  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16222      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16223      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16224      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16225      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16226      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16227      36663  [u'Coughtry, 241-85<><p>Coughtry, Jay, <em>The...
16490      97001  [u'LList, 25 Dec 1798<><i>Lloyds\u2019 Lists (...
16491      97001  [u'LList, 25 Dec 1798<><i>Lloyds\u2019 Lists (...
16492      97001  [u'LList, 25 Dec 1798<><i>Lloyds\u2019 Lists (...

Number of duplicated rows: 38

Number of rows after removing duplicates: 20741

Reason for removing duplicates:
Removing duplicates ensures that repeated data does not skew analysis results, leading to more accurate and reliable insights.

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>


---

### 7. Please identify the **top 5 most common ports of arrival**.

**Hint:** Check the columns ```place_of_landing```.

In [15]:
top_ports_of_arrival = data_csv_no_duplicates['place_of_landing'].value_counts().head(5)
print("\nTop 5 Most Common Ports of Arrival:")
print(top_ports_of_arrival)

Top 5 Most Common Ports of Arrival:
place_of_landing
Barbados, port unspecified    2038
Jamaica, port unspecified     1715
Kingston                      1622
Havana                        1321
Cap Francais                  1127
Name: count, dtype: int64

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

---

### 8. Please plot the **top 5 enslavers/captors** from this dataset. Please choose the appropriate visualization (e.g. pie chart, bar chart) to display your finding.

In [17]:
top_captors = data_csv_no_duplicates['captain\'s_name'].value_counts().head(5)
print("\nTop 5 Enslavers/Captors:")
print(top_captors)

Top 5 Enslavers/Captors:
captain's_name
Smith, John          36
Williams, William    22
Simmons, John        20
Kendall, John        19
Brown, William       19
Name: count, dtype: int64

-----

### 9. Having briefly explored the dataset, what further questions have emerged as you explored this dataset?    

Please share your thoughts in a few sentences.

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

-----
-----

## Side quest challenge

The side quest challenge is for extra credit. You can still get full credit for this activity even if you do not complete this challenge.

### 1. Which enslaver/captor had the highest difference between the total number of people who embarked and disembarked?

**Hint:** You may need to [add a column](https://github.com/GCDigitalFellows/intro-pandas-dri-2022/blob/main/README.md#8-rename-select-drop-and-add-new-columns) to calculate the difference, use the [```.groupby```, ```.count()``` and ```.sort_values``` methods](https://github.com/GCDigitalFellows/intro-pandas-dri-2022/blob/main/README.md#9-sort-columns-groupby-columns--count-values) for this challenge.

In [24]:
print(data_csv_no_duplicates.columns)
data_csv_no_duplicates['embarked_disembarked_diff'] = abs(data_csv_no_duplicates['total_embarked'] - data_csv_no_duplicates['total_disembarked'])
top_diff_captors = data_csv_no_duplicates.groupby("captain's_name")["embarked_disembarked_diff"].sum().sort_values(ascending=False).head(1)
print("\nEnslaver/Captor with the Highest Difference Between Embarked and Disembarked:")
print(top_diff_captors)

Index(['year_of_arrival', 'flag', 'place_of_purchase', 'place_of_landing',
       'percent_women', 'percent_children', 'percent_men', 'total_embarked',
       'total_disembarked', 'resistance_label', 'vessel_name',
       'captain's_name', 'voyage_id', 'sources', 'embarked_disembarked_diff'],
      dtype='object')

Enslaver/Captor with the Highest Difference Between Embarked and Disembarked:
captain's_name
Smith, John    1143.0
Name: embarked_disembarked_diff, dtype: float64

<ipython-input-24-f6f59622308f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_csv_no_duplicates['embarked_disembarked_diff'] = abs(data_csv_no_duplicates['total_embarked'] - data_csv_no_duplicates['total_disembarked'])

**Double click to edit cell**     
`Please type your answer here`
</br>
</br>
</br>

---